.label-container {
  display: flex;
  background-color: var(--main-color);
  border-radius: 5px;
  padding: 5px;
  width: fit-content;
}

.custom-radio {
  border-radius: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  font-size: 1rem;
  text-shadow: var(--shadow);
  color: var(--text-color);
  width: 180px;
}

.custom-radio input[type="radio"] {
  /* This rule is to hide the radio-button visually but not removing them from the DOM*/
  position: absolute;
  opacity: 0;
  width: 1rem;
  height: 1rem;
  margin: 0;
  pointer-events: all;
}

.custom-radio .radio-mark {
  height: 15px;
  width: 15px;
  border: 2px solid var(--text-color);
  border-radius: 50%;
  box-shadow: var(--shadow);
  position: relative;
  transition: all 0.2s ease;
}

.custom-radio:focus-within .radio-mark {
  /* this is to make focus w tab key*/
  border-color: rgb(231, 222, 222);
}

.custom-radio:focus-within input[type="radio"]:checked + .radio-mark::after {
  /*this too, focus with tab*/
  background-color: rgb(231, 222, 222);
}

.custom-radio:active .radio-mark {
  transform: scale(0.95);
}

.custom-radio input[type="radio"]:checked + .radio-mark::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  height: 7px;
  width: 7px;
  background-color: var(--text-color);
  border-radius: 50%;
}

@media screen and (max-width: 380px) {
  .label-container {
    display: block;
  }
}

@media (hover: hover) {
  .custom-radio:hover .radio-mark {
    border-color: rgb(231, 222, 222);
  }

  .custom-radio:hover input[type="radio"]:checked + .radio-mark::after {
    background-color: rgb(231, 222, 222);
  }
}
