.splash-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.849);
  border-radius: 5px;
  cursor: progress;
}

.splash-subtitle {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.849);
  cursor: progress;
}

.layout-main-content.background {
  margin: 1vh auto;
  position: fixed;
  width: auto;
  height: 98vh;
  max-height: 98%;
  object-fit: cover;
  cursor: progress;
}

.dot-1 {
  color: white;
  animation: dot-flash 1.5s 1s infinite ;
}

.dot-2 {
  color: white;
 animation: dot-flash 1.5s 0.5s infinite ;
}

.dot-3 {
  color: white;
  animation: dot-flash 1.5s  infinite ;
}

@keyframes dot-flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (min-width: 600px) {
  .layout-main-content.background {
    width: 100vw;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}
