.favorite-btn {
  background-color: transparent;
  width: 50px;
  height: 40px;
  padding: 0;
  display: block;
  margin: 0 auto;
}

.favorite-btn:focus {
  outline: none;
  border: 2px solid var(--main-color);
  box-shadow: 3px 3px 6px var(--main-color);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}



.heart-icon {
  font-size: 24px;
  color: gray;
  transition: color 0.3s ease;
}


.heart-icon.active {
  color: red;
  animation: pulse 1s ease;
  animation-iteration-count: 1;
}

@keyframes pulse-hover {
  0% {
    transform: scale(1);
    color: gray;
  }
  50% {
    transform: scale(1.2);
    color: red;
  }
  100% {
    transform: scale(1);
    color: gray;
  }
}

@media (hover: hover) {
  .heart-icon:hover {
    animation: pulse-hover 1.1s ease;
    animation-iteration-count: infinite;
  }
}
