.splash-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.849);
  border-radius: 5px;
}

.splash-subtitle {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translateX(-50%);
    color: white; 
    background-color: rgba(0, 0, 0, 0.849);
}

.layout-main-content.background {
    margin: 1vh auto;
    position: fixed;
    width: auto;
    height: 98vh;
    max-height: 98%;
    object-fit: cover;
}

@media screen and (min-width: 600px) {
    .layout-main-content.background {
        width: 100vw;
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
}
